* {
	margin:0pt;
	padding:0pt;
}
body {
	font-family:"Tahoma",sans-serif;
	font-size:medium;
	line-height:1.4em;
	min-width:730px;
  width: 70%;
  /* margin: 0 auto; */
}
#menu {
  float: left;
  width: 200px;
  margin: 100px 0 0 0;
}
#menu a:link, #menu a:active, #menu a:visited {
	/* color:#FFFFFF;
	text-decoration:none; */
}
#menu a:hover {
	/* color:#FFFFFF;
	text-decoration: none;
	border-bottom:2px solid #FFFFFF; */
}
#menu ul {
	/* text-align:center; */
}
#menu ul li {
  list-style-type: none;
  text-align: right;
}
#content {
	margin:75px 0 20px 270px;
  padding: 10px 28px 10px 28px;
  border-left: 18px solid #ccc;
  background: #eee;
  color: #232221;
}
blockquote {
  margin-top: 15px;
  border-left: 3px #ca0000 solid;
  padding-left: 10px;
  margin-left: -13px
}
#logoright {
	position: absolute;
	left: 40px;
	top: 20px;
	margin: 0;
}
h1 {
	font-size: 2.2em;
  font-weight: normal;
	margin-bottom:5px;
   line-height: 1.3em;
}
h2 {
	font-size:medium;
	margin-bottom:3px;
	margin-top:20px;
}
p.first { margin-top: 20px; }
a:link, a:active, a:visited {
	color: #333;
}
p, li {
	padding: 3px 0 3px 0;
}
li {
	list-style-type: square;
}
img.rahmen {
	border: #ca0000 solid 3px;
	margin: 12px;
}
img.left {
	margin: 12px 12px 12px 0;
	float: left;
}
a > img { border: inherit; }
td, th {
	padding-top: 10px;
	padding-right: 25px;
	vertical-align: top;
	text-align: left;
}

#karte img {
	border:  none;
}
a.extern {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAAXNSR0IArs4c6QAAAAJiS0dEAP+H j8y/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH2wQJEgA3m7p9FwAAAFFJREFUKM9j/P+f AS9gYmCgUAELppAOlL6Cy4Qd2ExA6HrC4IHdCoiBMOkdcGVoVsCkZaAacLhBBpn7////////a/9H Bsg8KgaUDg4FjLSPLACMOSwtDTeqJAAAAABJRU5ErkJggg==") no-repeat scroll right center transparent;
	padding-right: 15px;
	margin-right: -3px;
	text-decoration: none;
	color: inherit;
}
