* {
	margin:0pt;
	padding:0pt;
}
body {
	font-family:"Tahoma",sans-serif;
	font-size:medium;
	line-height:1.4em;
	min-width:730px;
}
#menu {
	background:#CA0000 url(../images/menu-tile.gif) repeat-x scroll center top;
	border-bottom:3px solid #CC0000;
	padding:25px 256px 25px 25px;
}
#menu a:link, #menu a:active, #menu a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
#menu a:hover {
	color:#FFFFFF;
	text-decoration: none;
	border-bottom:2px solid #FFFFFF;
}
#menu ul {
	/* text-align:center; */
}
#menu ul li {
	display:inline;
	font-weight:bold;
	margin:3pt 5px;
	padding:0px 0;
}
#content {
	margin:75px auto 20px;
	width:70%;
}
blockquote {
  margin-top: 15px;
  border-left: 3px #ca0000 solid;
  padding-left: 10px;
  margin-left: -13px
}
#logoright {
	border-color: #CA0000;
	border-style: solid;
	border-width: 0 3px 3px 3px;
	
	background:#FFFFFF url(../images/logo-tile.gif) repeat-x top;
	
	position: absolute;
	right: 50px;
	top: 0;
	margin: 0;
}
h1 {
	font-size:x-large;
	margin-bottom:5px;
   line-height: 1.3em;
}
h2 {
	font-size:medium;
	margin-bottom:3px;
	margin-top:20px;
}
p.first { margin-top: 20px; }
a:link, a:active, a:visited {
	color: #333;
	/* text-decoration: none;
	border-bottom: 1px solid #bbb; */
}
p, li {
	padding: 3px 0 3px 0;
}
li {
	list-style-type: square;
}
img.rahmen {
	border: #ca0000 solid 3px;
	margin: 12px;
}
img.left {
	margin: 12px 12px 12px 0;
	float: left;
}
a > img { border: inherit; }
td, th {
	padding-top: 10px;
	padding-right: 25px;
	vertical-align: top;
	text-align: left;
}

#karte img {
	border:  none;
}
a.extern {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAAXNSR0IArs4c6QAAAAJiS0dEAP+H j8y/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH2wQJEgA3m7p9FwAAAFFJREFUKM9j/P+f AS9gYmCgUAELppAOlL6Cy4Qd2ExA6HrC4IHdCoiBMOkdcGVoVsCkZaAacLhBBpn7////////a/9H Bsg8KgaUDg4FjLSPLACMOSwtDTeqJAAAAABJRU5ErkJggg==") no-repeat scroll right center transparent;
	padding-right: 15px;
	margin-right: -3px;
	text-decoration: none;
	color: inherit;
}
