      <table><tbody>
        <tr>
          <td style="width:50%">
            <strong>Standort Gaggenau</strong><br />
            Hauptstraße 91, 76571 Gaggenau<br />
            Telefon: (07225) 3213<br />
            Telefax: (07225) 1335<br />
            Email: <a href="mailto:kardiopraxis-gaggenau@web.de">kardiopraxis-gaggenau@web.de</a></td>
          <td style="width:50%">
            <strong>Öffnungszeiten</strong><br />
            Montag bis Freitag 8:00 bis 11:30 Uhr sowie nach Vereinbarung Dienstag und Donnerstag 12:00 bis 15:00 Herzkatheter am Kreiskrankenhaus Rastatt</td></tr></tbody></table>
