  <head>
    <title>{{title}} - Kardiopraxis Gaggenau</title>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Kardiologiepraxis, Kardiopraxis, Praxis, Kardiologie, Gaggenau, Kardiopraxis-Gaggenau, Dr. Tilman Markert, Tilman Markert, Markert, Internist, Kardiologe, Gesundheitstipps, Herzinfarkt, Infarkt" />
    <meta name="description" content="Dies ist die Homepage der Kardiologiepraxis Gaggenau des niedergelassenen Kardiologen Dr. med. Tilman Markert" />
    <meta name="Content-Language" content="de" />
    <meta name="author" content="Leonhard Markert" />

    <meta name="robots" content="INDEX, FOLLOW" />
    <meta name="revisit-after" content="2 days" />
    <link rel="stylesheet" type="text/css" href="css/all.css" media="all" />
	 <script type="text/javascript" src="js/mootools.js"></script>
	 <script type="text/javascript" src="js/slimbox.js"></script>
    <link rel="stylesheet" type="text/css" href="css/slimbox.css" media="screen" />
  </head>
