<!DOCTYPE html>
<html lang="de">
{{> header}}  
  <body>
    <div id="menu">
      <ul>
      {{#menu}}
        <li><a href="{{url}}" title="{{title}}">{{title}}</a></li>
      {{/menu}}
      </ul>
    </div>

    <div><img src="images/logoklein.gif" id="logoright" alt="Logo" /></div>
    
    <div id="content">
      {{{content}}}
    </div>
    {{> footer}}
  </body>
</html>

<!-- vim: set expandtab tabstop=8 shiftwidth=2: -->
